In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Beringovskiy,RU,2021-10-31 00:20:16,63.0500,179.3167,8.69,97,99,18.84
1,1,Aksarka,RU,2021-10-31 00:19:11,66.5606,67.7975,-3.98,92,15,5.21
2,2,San Luis,AR,2021-10-31 00:20:16,-33.2950,-66.3356,78.49,41,40,21.85
3,3,Zhigansk,RU,2021-10-31 00:20:17,66.7697,123.3711,3.22,91,100,23.33
4,4,Tuktoyaktuk,CA,2021-10-31 00:20:16,69.4541,-133.0374,14.00,92,75,8.05

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp],
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,San Luis,AR,2021-10-31 00:20:16,-33.2950,-66.3356,78.49,41,40,21.85
5,5,Kapaa,US,2021-10-31 00:20:17,22.0752,-159.3190,82.38,79,90,5.75
6,6,Asyut,EG,2021-10-31 00:20:18,27.1810,31.1837,81.10,33,100,13.40
14,14,Kudahuvadhoo,MV,2021-10-31 00:20:19,2.6708,72.8944,82.92,72,25,17.25
17,17,Nortelandia,BR,2021-10-31 00:20:20,-14.4547,-56.8028,79.39,61,48,2.98
19,19,Kota Bahru,MY,2021-10-31 00:20:21,6.1333,102.2386,76.95,94,20,3.44
26,26,Gao,ML,2021-10-31 00:20:23,16.6362,1.6370,83.91,13,55,6.69
28,28,Kavieng,PG,2021-10-31 00:18:09,-2.5744,150.7967,84.24,73,75,13.00
29,29,Dingle,PH,2021-10-31 00:20:23,10.9995,122.6711,80.26,82,93,10.83
30,30,Olinda,BR,2021-10-31 00:20:24,-8.0089,-34.8553,80.33,65,40,10.36

In [12]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2       San Luis      AR     78.49 -33.2950  -66.3356
5          Kapaa      US     82.38  22.0752 -159.3190
6          Asyut      EG     81.10  27.1810   31.1837
14  Kudahuvadhoo      MV     82.92   2.6708   72.8944
17   Nortelandia      BR     79.39 -14.4547  -56.8028
19    Kota Bahru      MY     76.95   6.1333  102.2386
26           Gao      ML     83.91  16.6362    1.6370
28       Kavieng      PG     84.24  -2.5744  150.7967
29        Dingle      PH     80.26  10.9995  122.6711
30        Olinda      BR     80.33  -8.0089  -34.8553

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,San Luis,AR,78.49,-33.2950,-66.3356,Huarpes Hotel
5,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
6,Asyut,EG,81.10,27.1810,31.1837,Florence Hotel Assiut
14,Kudahuvadhoo,MV,82.92,2.6708,72.8944,Niyama Private Islands Maldives
17,Nortelandia,BR,79.39,-14.4547,-56.8028,Hotel Karysmã
19,Kota Bahru,MY,76.95,6.1333,102.2386,Grand Riverview Hotel
26,Gao,ML,83.91,16.6362,1.6370,
28,Kavieng,PG,84.24,-2.5744,150.7967,Nusa Island Retreat
29,Dingle,PH,80.26,10.9995,122.6711,SEGAYA PROPERTY
30,Olinda,BR,80.33,-8.0089,-34.8553,Hotel Albergue de Olinda

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))